html {
	padding: 0;
	margin: 0;
}

.feature{
	background-color: orange;
	color: black;
	text-align: center;
	border: 1px solid black;
	padding: 4px;
	margin: 0;
	font-weight: 700;
}

@media only screen and (min-width: 600px) {
	.container{
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
